#calendar {
    position: sticky;
    top: 7rem;
    box-shadow: 0 0 10px 5px $gray-200;

    .month {
        padding: 25px;
        width: 100%;
        background: $primary;
        text-align: center;

        a {
            color: $white;
        }
    }

    .month ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .month ul li {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .month .prev {
        float: left;
    }

    .month .next {
        float: right;
    }

    .weekdays {
        background-color: $primary-darkest;
        justify-content: space-around;

        .weekday {
            color: $white;
            line-height: 2.25em;
            text-align: center;
        }

        .week-of-year {
            align-items: center;
            background-color: darken($primary-darkest, 5%);
            color: $gray-400;
            display: flex;
            flex-grow: unset;
            font-size: 0.85em;
            justify-content: center;
            min-width: 4.5em;
        }
    }

    .days {
        background: $white;

        .day {
            text-align: center;
            line-height: 1;
            padding: 1px;

            &.week-of-year {
                align-items: center;
                background-color: $gray-300;
                color: $gray-700;
                display: flex;
                flex-grow: unset;
                font-size: 0.85em;
                justify-content: center;
                min-width: 4.5em;
            }

            .inner {
                align-items: center;
                border: 1px solid transparent;
                display: flex;
                height: 3.5em;
                justify-content: center;
                margin: 0;
                padding: 0;

                .a {
                    color: $gray-900;
                }
            }

            &.has-orders {

                .inner {
                    border-color: lighten($success, 6%);
                    position: relative;
                    width: 100%;

                    a {
                        padding: 0.5em 1em;
                    }

                    .food-container {
                        bottom: 3px;
                        height: 1em;
                        position: absolute;
                        right: 1px;
                        text-align: right;

                        svg {
                            color: $primary-darkest;
                            height: 100%;
                            margin-left: -2px;
                            width: auto;
                        }
                    }
                }
            }


            &.active {

                .inner {
                    background-color: $primary;
                    color: $white;

                    a, svg {
                        color: inherit;
                    }
                }
            }

        }
    }

    .top-right {
        color: $danger;
    }

}
