#calendar {
    position: sticky;
    top: 7rem;
    box-shadow: 0 0 10px 5px $gray-200;

    .month {
        width: 100%;
        background: $primary;
        padding: 1em;
        text-align: center;

        a {
            color: $white;
			display: inline-block;
			height: 2.75rem;
			line-height: 2.75rem;
			width: 2.75rem;
			
			&:hover {
				text-decoration: none;
			}
			
			&:focus {
				outline: 1px dotted #c5e0f5;
			}
        }
    }

    .month ul {
		display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    
		li {
			color: white;
			display: inline-block;
			height: 2.75rem;
			line-height: 2.75rem;
			font-size: 1.25em;
			text-transform: uppercase;
			letter-spacing: 3px;
			
			&.current-month {
				flex-grow: 1;
				margin-left: auto;
				margin-right: auto;
			}
		}
    }

    .weekdays {
        background-color: $primary-darkest;
        justify-content: space-around;

        .weekday {
            color: $white;
            line-height: 2.25em;
            text-align: center;
        }

        .week-of-year {
            align-items: center;
            background-color: darken($primary-darkest, 5%);
            color: $gray-400;
            display: flex;
            flex-grow: unset;
            font-size: 0.85em;
            justify-content: center;
            line-height: 2.75em;
            min-width: 4.5em;
        }
    }

    .days {
        background: $white;

        .day {
            text-align: center;
            line-height: 1;
            padding: 1px;

            &.week-of-year {
                align-items: center;
                background-color: $gray-300;
                color: $gray-700;
                display: flex;
                flex-grow: unset;
                font-size: 0.85em;
                justify-content: center;
                min-width: 4.5em;
            }

            .inner {
                align-items: center;
                border: 1px solid transparent;
                display: flex;
                height: 3.5em;
                justify-content: center;
                margin: 0;
                padding: 0;
                position: relative;

                a, .a {
					color: $primary-darker;
                    display: inline-block;
                    height: 100%;
                    line-height: 3.5em;
                    width: 100%;
                }
                
                a:hover, a:focus {
					background: $gray-200;
					color: $primary-dark;
					text-decoration: none;
                }
                
                a:focus {
					outline: 1px dotted $primary-dark;
                }
                
                .a {
					color: $gray-900;
                }
            }

            &.has-orders {

                .inner {
                    /* border-color: lighten($success, 6%); */
                    background: #9f9;
                    width: 100%;

                    .food-container {
						bottom: 3px;
                        height: 1em;
                        position: absolute;
                        right: 1px;
                        text-align: right;

                        svg {
                            color: $primary-darkest;
                            height: 100%;
                            margin-left: -2px;
                            width: auto;
                        }
                    }
                }
            }


            &.active {

                .inner {
                    background-color: $primary;
                    color: $white;

                    a, svg {
                        color: inherit;
                    }
                    
                    a:hover, a:focus {
						color: $primary-dark;
                    }
                }
            }

        }
    }

    .top-right {
        color: $danger;
    }

}
