body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > main {
    background-color: $body-bg;
    flex-grow: 1;
    padding-top: 5.5rem;
    @include media-breakpoint-up(lg) {
      padding-top: 7.5rem;
    }
  }
}

.row-padding {
  th, td {
    padding-top: 1.5rem;
  }
}

.top-right {
  top: 5px;
  right: 5px;
}

.settings-index .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pagination {
  justify-content: center;
}

.form-group {
  position: relative;

  .invalid-tooltip {
    right: 0;
  }
}

.skip-navigation:focus {
  left: 0.5em;
  position: absolute;
  top: 0.5em;
}

.skip-calendar:focus {
  left:0;
  top: 0;
}