/**** HEADER ****/
#mainNavbar {
  background-image: linear-gradient(to bottom right, $primary-dark, $primary);
  border-bottom: 3px solid $primary-darker;
  box-shadow: 0 0 10px 5px $gray-400;
  min-height: 90px;


  /** FUTTERTROG **/
  .navbar-brand h1 {
    display: inline-block;
    font-size: 1.6em;
    transition: 0.3s;
    margin-bottom: 0;
    color: inherit;
    @include media-breakpoint-up(sm) {
      font-size: 2em;
    }

    &::first-letter {
      font-size: 1.4em;
    }

    &:hover {
      color: #bde1ff;
    }
  }


  .navbar-collapse {
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      .navbar-nav {
        text-align: center;
        align-items: center;
      }
    }

    /** LINKS LEFT **/
    ul:first-child .nav-link {
      color: $white;
      padding-left: 0.75em;
      padding-right: 0.75em;
      position: relative;
      text-transform: uppercase;

      &::before {
        border-bottom: 2px solid #c5e0f5;
        bottom: 0;
        content: "";
        left: 50%;
        position: absolute;
        right: 50%;
        transition-duration: 0.25s;
      }

      &:hover, &:focus {
        color: #c5e0f5;

        &::before {
          left: -0.5em;
          right: -0.5em;
        }
      }
    }

    /** LINKS RIGHT **/
    ul:last-child .nav-link {
      color: #c5e0f5;

      &:hover, &:focus {
        color: #c5e0f5;
        text-decoration: underline;
      }

    }
  }
}

/**** MOBILE MENU ****/
@keyframes grow {
  0% {
    display: none;
    max-height: 0;
  }
  1% {
    display: block;
    max-height: 0;
  }
  100% {
    max-height: 1000px;
  }
}

.navbar-toggler {
  margin: 0;
}

#nav-toggler:checked ~ .collapse {
  display: block !important;
  animation: grow 1s ease-in-out;
}