/**** HEADER ****/
#mainNavbar {
  background-image: linear-gradient(to bottom right, $primary-dark, $primary);
  border-bottom: 3px solid $primary-darker;
  box-shadow: 0 0 10px 5px $gray-400;
  min-height: 90px;


  /** FUTTERTROG **/
  .navbar-brand h1 {
    display: inline-block;
    font-size: 1.6em;
    margin-bottom: 0;
    color: inherit;
    @include media-breakpoint-up(sm) {
      font-size: 2em;
    }

    &::first-letter {
      font-size: 1.4em;
    }

    &:hover {
      color: #bde1ff;
    }
  }


  .navbar-collapse {
	align-items: baseline;	
	position: relative;

    @include media-breakpoint-up(lg) {
      .navbar-nav {
        text-align: center;
        align-items: baseline;
      }
    }

    /** LINKS LEFT **/
    .navbar-nav:nth-child(2) .nav-link {
      color: $white;
      padding-left: 0.75em;
      padding-right: 0.75em;
      position: relative;
      text-transform: uppercase;

      &::before {
        border-bottom: 2px solid #c5e0f5;
        bottom: 0;
        content: "";
        left: 50%;
        position: absolute;
        right: 50%;
        transition-duration: 0.25s;
      }
      
      &:focus {
		outline: 1px dotted #c5e0f5;
      }

      &:hover, &:focus {
        color: #c5e0f5;

        &::before {
          left: 0;
          right: 0;
        }
      }
    }

    /** LINKS RIGHT **/
    .navbar-nav:last-child .nav-link {
      color: #c5e0f5;

      &:hover, &:focus {
        color: #c5e0f5;
        text-decoration: underline;
      }

    }
  }
}

/**** MOBILE MENU ****/
@keyframes grow {
  0% {
    display: none;
    max-height: 0;
  }
  1% {
    display: block;
    max-height: 0;
  }
  100% {
    max-height: 1000px;
  }
}

.navbar-toggler {
  margin: 0;
}

.navbar-dark .navbar-toggler {
    color: $white;
    border-color: $white;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#nav-toggler:checked ~ .collapse {
  display: block !important;
  animation: grow 1s ease-in-out;
}

