// Variables

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;


$blue:    #1E98FE !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:         $blue !default;
$primary-dark:    darken($primary, 7.5%) !default;
$primary-darker:  #01569E !default;
$primary-darkest: #00345E !default;
$secondary:       #73EE05 !default;
$success:         $green !default;
$info:            $cyan !default;
$warning:         $yellow !default;
$danger:          $red !default;
$light:           $gray-100 !default;
$dark:            $gray-800 !default;

$headings-color: $primary-darkest;

$enable-rounded:            false !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .85) !default;

$navbar-dark-color:                 rgba($white, .5) !default;
$navbar-dark-hover-color:           $primary-darker;

$card-cap-bg: #f7f7f7;


$custom-control-gutter:                 2rem !default;
$custom-control-indicator-size:         1.5rem !default;
//$custom-control-indicator-focus-box-shadow: none !default;;