// Variables

// Color system

$white:    #fff !default;
$gray-100: #f8fafc !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;


$blue:    #0177da !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #018932 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:         $blue !default;
$primary-dark:    darken($primary, 7.5%) !default;
$primary-darker:  #01569E !default;
$primary-darkest: #00345E !default;
$secondary:       $green !default;
$success:         $green !default;
$info:            #127E8F !default;
$warning:         $yellow !default;
$danger:          #F1B0B6 !default;
$light:           $gray-100 !default;
$dark:            $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
      "primary-dark":    $primary-dark,
      "primary-darker":    $primary-darker,
      "primary-darkest":    $primary-darkest,
  ),
  $theme-colors
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded:            false !default;


// Body
$body-bg:     $gray-900 !default;
$body-color:  $gray-100 !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           2rem !default;

// Components
//
// Define common padding and border radius sizes and more.

$border-width:                1px !default;
$border-color:                $gray-300 !default;

$box-shadow-sm:               0 0 .625rem .25rem $gray-800 !default;
$box-shadow:                  0 .5rem 1rem $gray-800 !default;
$box-shadow-lg:               0 1rem 3rem $gray-800 !default;


// Typography
$font-size-base:      0.9rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:        ($font-size-base * 1.25) !default;
$font-size-sm:        ($font-size-base * .9) !default;

$line-height-base:    1.6 !default;

$headings-color:      $primary-darkest;

$text-muted:          lighten($gray-500, 5%) !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.
$table-cell-padding:          1rem !default;


// Forms
$input-bg:                              $gray-400 !default;
$input-disabled-bg:                     $gray-400 !default;

$input-color:                           $gray-700 !default;
$input-border-color:                    $gray-400 !default;

$custom-control-gutter:                 .5rem !default;
$custom-control-indicator-size:         1.5rem !default;


// Navbar
$navbar-dark-color:                 rgba($white, .5) !default;
$navbar-dark-hover-color:           $primary-darker;


// Cards
$card-cap-bg:       $gray-800;
$card-cap-color:    null !default;
$card-color:        null !default;
$card-bg:           $gray-700 !default;

// List group

$list-group-color:                  $body-color !default;
$list-group-bg:                     $gray-700 !default;
$list-group-border-color:           $gray-500 !default;
$list-group-border-width:           $border-width !default;
